@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}



/* Custom Scrollbar for "mostly hidden" effect */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  /* gray-400 with opacity */
  border-radius: 20px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6);
}

.checkerboard {
  background-color: #1f2937;
  background-image:
    linear-gradient(45deg, #374151 25%, transparent 25%),
    linear-gradient(-45deg, #374151 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #374151 75%),
    linear-gradient(-45deg, transparent 75%, #374151 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.rendering-pixelated {
  image-rendering: pixelated;
  /* Chrome/Safari */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
}

@layer utilities {
  .drawer-enter {
    transform: translateY(100%);
  }

  .drawer-enter-active {
    transform: translateY(0);
    transition: transform 300ms ease-out;
  }

  .drawer-exit {
    transform: translateY(0);
  }

  .drawer-exit-active {
    transform: translateY(100%);
    transition: transform 300ms ease-in;
  }
}